<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 th:replace="~{base ::Layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password Page</title>


</head>
<body>
	
	<section> 
	<div class="item1">
		<h1>Forgot Password</h1>
		
		<th:block th:if="${session.msg}">
	<p class="text-center text-success fs-5">[[${session.msg}]]</p>
<th:block th:text="${@userServiceImpl.removeSession()}">
</th:block>
</th:block>
		
		
	<form action="forgotPassword" method="post">
  <div class="mb-3">
   
      <div class="mb-3">
    <label for="exampleInputEmail13" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" name="email">
      </div>
     
      

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"> Mobile Number</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="mobile">
  </div>
 
  <button type="submit" class="btn btn-primary" id="one">Forgot</button>
</form>

</div>
	
	
	
</section>

</body>
</html>